<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Minha Agenda</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("Minha Agenda", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-nav flex-grow-1">
                    <ul class="nav nav-pills nav-fill">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                    </ul>
                </div>

                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="switch-1" onclick="myFunction()" />
                    <label class="custom-control-label text-white" for="switch-1">Tema Escuro</label>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Agenda
        </div>
    </footer>
    <script>
        function myFunction() {
            var element = document.body;

            var checkbox = document.querySelector('input[type="checkbox"]');
            if (checkbox.checked) {
                localStorage.setItem('check', 'yes');
                element.classList.toggle("dark-mode");
            } else {
                element.classList.toggle("dark-mode");
                localStorage.setItem('check', 'no');
            }
        }
    </script>

    <script>

        var element = document.body;
        document.addEventListener('DOMContentLoaded', function () {
            var checkbox = document.querySelector('input[type="checkbox"]');
            var botao = localStorage.getItem("check");
            if (botao === "yes" && !checkbox.checked) {
                checkbox.checked = true;
                element.classList.toggle("dark-mode");
            }
            else if (botao === "no" && checkbox.checked) {
                checkbox.checked = false;
                element.classList.toggle("dark-mode");
            }
        });



    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
