@model AgendaWeb.Models.Contato

@{
    ViewBag.Title = "Detalhes";
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do contato</h4>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Endereco)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Endereco)
                    </dd>

                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Numero)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Numero)

                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Bairro)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Bairro)
                    </dd>

                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Cidade)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Cidade)
                    </dd>

                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Cep)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Cep)
                    </dd>

                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.TelefoneRes)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.TelefoneRes)
                    </dd>
                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.TelefoneCom)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.TelefoneCom)
                    </dd>
                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Celular)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Celular)
                    </dd>
                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.OutroNum)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.OutroNum)
                    </dd>
                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Telefone0800)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Telefone0800)
                    </dd>
                    <dt class="col-sm-5 text-right">
                        @Html.DisplayNameFor(model => model.Informacoes)
                    </dt>

                    <dd class="col-sm-7 text-left">
                        @Html.DisplayFor(model => model.Informacoes)
                    </dd>

                </dl>

            </div>
            <div class="modal-footer">

               
        <a class="botaoedit edit mr-auto" data-id="@Model.Contato_id"></a>
                @Html.ActionLink("Voltar", "Index", null, new { @class = "botaovoltar" })

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="modal" class="modal fade" role="dialog">
</div>


@section scripts{

    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
   
    <script>
        $(function () {

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Home/Edit?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}